@font-face {
	font-family: 'FuturaLightC';
	src: url('../fonts/futuralightc.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/futuralightc.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/futuralightc.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/futuralightc.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/futuralightc.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/futuralightc.svg#futuralightc') format('svg'); /* Chrome < 4, Legacy iOS */
}